In [1]:
import pandas as pd
import psycopg2
from config import *

In [2]:
conn = psycopg2.connect(
   database=DATABASE, user=USER, password=PASSWORD, host=HOST, port= PORT
)

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("Select * FROM races LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['raceId', 'year', 'round', 'circuitId', 'name', 'date', 'time', 'url']

In [5]:
cursor.execute("SELECT * FROM races")
data = cursor.fetchall()
race_df = pd.DataFrame(data, columns=colnames)
race_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [6]:
cursor.execute("Select * FROM results LIMIT 0")
colnames = [desc[0] for desc in cursor.description]
colnames

['resultId',
 'raceId',
 'driverId',
 'constructorId',
 'number',
 'grid',
 'position',
 'positionText',
 'positionOrder',
 'points',
 'laps',
 'time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId']

In [7]:
cursor.execute("SELECT * FROM results")
data = cursor.fetchall()
results_df = pd.DataFrame(data, columns=colnames)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [8]:
raceresults_df = results_df.merge(race_df,left_on='raceId',right_on='raceId',how='left')

In [9]:
raceresults_df = raceresults_df.dropna().reset_index()

In [10]:
raceresults_df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name,date,time_y,url
0,0,1,18,1,1,22,1,1,1,1,...,1:27.452,218.300,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
1,1,2,18,2,2,3,5,2,2,2,...,1:27.739,217.586,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
2,2,3,18,3,3,7,7,3,3,3,...,1:28.090,216.719,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
3,3,4,18,4,4,5,11,4,4,4,...,1:28.603,215.464,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...
4,4,5,18,5,1,23,3,5,5,5,...,1:27.418,218.385,1,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...

In [11]:
file_path = "../Resources/PythonExport/weather.csv"
weather_df = pd.read_csv(file_path)
weather_df.head()

,Unnamed: 0,raceId,year,round,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,2009,1,Sunny with temperatures reaching up to 27 °C (...,1,0,0,0,0
1,1,2,2009,2,"Dry start, with heavy rain and thunderstorm/mo...",0,0,1,1,0
2,2,3,2009,3,Rain,0,0,0,1,0
3,3,4,2009,4,Sunny,1,0,0,0,0
4,4,5,2009,5,"Warm, Sunny",1,0,0,0,0

In [12]:
df = raceresults_df.merge(weather_df,left_on='raceId',right_on='raceId',how='left')
df.head()

,index,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,...,url,Unnamed: 0,year_y,round_y,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,0,1,18,1,1,22,1,1,1,1,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
1,1,2,18,2,2,3,5,2,2,2,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
2,2,3,18,3,3,7,7,3,3,3,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
3,3,4,18,4,4,5,11,4,4,4,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0
4,4,5,18,5,1,23,3,5,5,5,...,http://en.wikipedia.org/wiki/2008_Australian_G...,17,2008,1,"Sunny,very hot with air temperature 39°C.",1,0,0,0,0

In [13]:
df.drop(columns=['index','resultId','raceId','url','time_y','date','round_y','position','positionText','number','points','laps','time_x','milliseconds','fastestLap','rank','year_y','Unnamed: 0','weather','round_x','name','fastestLapSpeed','fastestLapTime'],inplace=True)

In [14]:
df

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1,1,1,1,1,2008,1,1,0,0,0,0
1,2,2,5,2,1,2008,1,1,0,0,0,0
2,3,3,7,3,1,2008,1,1,0,0,0,0
3,4,4,11,4,1,2008,1,1,0,0,0,0
4,5,1,3,5,1,2008,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25035,849,3,19,16,11,2021,4,0,0,0,0,1
25036,4,214,10,17,11,2021,4,0,0,0,0,1
25037,854,210,18,18,12,2021,4,0,0,0,0,1
25038,853,210,20,19,12,2021,4,0,0,0,0,1
25039,852,213,16,20,10,2021,4,0,0,0,0,1

In [15]:
df.dtypes

driverId          int64
constructorId     int64
grid              int64
positionOrder     int64
statusId          int64
year_x            int64
circuitId         int64
weather_warm      int64
weather_cold      int64
weather_dry       int64
weather_wet       int64
weather_cloudy    int64
dtype: object

In [16]:
# We will finish all the statuses where drivers finish the race to 2
replace = {
    11:2, 12:2, 13:2, 14:2, 15:2, 16:2, 17:2, 18:2, 19:2, 45:2, 50:2, 128:2, 53:2, 55:2, 58:2, 
    88:2, 111:2, 112:2, 113:2, 114:2, 115:2, 116:2, 117:2, 118:2, 119:2, 120:2, 122:2, 123:2, 124:2, 
    125:2, 127:2, 133:2, 134:2  
}
df["statusId"] = df["statusId"].replace(replace)

In [17]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
def change_status(x):
    if x == 1:
        return 1
    elif x == 2:
        return 2
    else:
        return 3
    
df["statusId"] = df["statusId"].apply(change_status)
df.tail(10)

,driverId,constructorId,grid,positionOrder,statusId,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
25030,840,117,11,11,2,2021,4,0,0,0,0,1
25031,8,51,17,12,2,2021,4,0,0,0,0,1
25032,20,117,13,13,2,2021,4,0,0,0,0,1
25033,847,3,15,14,2,2021,4,0,0,0,0,1
25034,841,51,14,15,2,2021,4,0,0,0,0,1
25035,849,3,19,16,2,2021,4,0,0,0,0,1
25036,4,214,10,17,2,2021,4,0,0,0,0,1
25037,854,210,18,18,2,2021,4,0,0,0,0,1
25038,853,210,20,19,2,2021,4,0,0,0,0,1
25039,852,213,16,20,3,2021,4,0,0,0,0,1

In [18]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.statusId.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['statusId'])
encode_df.head()

   statusId_1  statusId_2  statusId_3
0         1.0         0.0         0.0
1         1.0         0.0         0.0
2         1.0         0.0         0.0
3         1.0         0.0         0.0
4         1.0         0.0         0.0

In [19]:
df = df.merge(encode_df,left_index=True,right_index=True).drop("statusId",1)

In [20]:
# # Fit the encoder and produce encoded DataFrame
# encode_df = pd.DataFrame(enc.fit_transform(df.grid.values.reshape(-1,1)))
# # Rename encoded columns
# encode_df.columns = enc.get_feature_names(['grid'])
# df = df.merge(encode_df,left_index=True,right_index=True).drop("grid",1)

In [21]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.driverId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['driverId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("driverId",1)

In [22]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.constructorId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['constructorId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("constructorId",1)

In [23]:
# df.head()
circuitId = df[df['year_x']>=2019]['circuitId']
circuitId

24197    1
24198    1
24199    1
24200    1
24201    1
        ..
25035    4
25036    4
25037    4
25038    4
25039    4
Name: circuitId, Length: 840, dtype: int64

In [24]:
# Transform finish_status column. Anything which is not 1 (driver did not finish race) is converted to 3
podium = [1,2,3]
def change_order(x):
    if x == 1:
        return 1
    else:
        return 0

def podium_order(x):
    if x in podium:
        return x
    else:
        return 0
df["podium"] = df["positionOrder"].apply(podium_order)    
df["positionOrder"] = df["positionOrder"].apply(change_order)

df.head(10)

,grid,positionOrder,year_x,circuitId,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,...,constructorId_205,constructorId_206,constructorId_207,constructorId_208,constructorId_209,constructorId_210,constructorId_211,constructorId_213,constructorId_214,podium
0,1,1,2008,1,1,0,0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,5,0,2008,1,1,0,0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,7,0,2008,1,1,0,0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,11,0,2008,1,1,0,0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,3,0,2008,1,1,0,0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,13,0,2008,1,1,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,17,0,2008,1,1,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,15,0,2008,1,1,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,2,0,2008,1,1,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,18,0,2008,1,1,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [25]:
podiumdf = df[df['year_x']>=2019]['podium']
podiumdf

24197    1
24198    2
24199    3
24200    0
24201    0
        ..
25035    0
25036    0
25037    0
25038    0
25039    0
Name: podium, Length: 840, dtype: int64

In [26]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df.circuitId.values.reshape(-1,1)))
# Rename encoded columns
encode_df.columns = enc.get_feature_names(['circuitId'])
df = df.merge(encode_df,left_index=True,right_index=True).drop("circuitId",1)

In [27]:
import sklearn as skl
from sklearn import preprocessing
X_scaler = skl.preprocessing.StandardScaler()

In [28]:
df_train = df[(df['year_x']<=2018) & (df['year_x']>=2000)]
df_test = df[df['year_x']>=2019]

In [29]:
df_train

,grid,positionOrder,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,1,1,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,0,2008,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24192,17,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24193,9,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24194,12,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24195,4,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24196,10,0,2018,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
y_train= df_train['positionOrder']
y_test= df_test['positionOrder']
X_train = df_train.drop(columns=['positionOrder','podium'])
# .drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])
X_test = df_test.drop(columns=['positionOrder','podium'])
# X_test = df_test.drop(columns=['positionOrder','driverId','constructorId','circuitId','year_x'])

In [31]:
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
X_test_scaled

array([[-1.46612311,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [-1.62545438,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [-1.14746058,  1.77603196, -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       ...,
       [ 1.08317719,  2.1438883 , -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [ 1.40183973,  2.1438883 , -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ],
       [ 0.76451465,  2.1438883 , -0.7378787 , ..., -0.09117686,
         0.        ,  0.        ]])

In [33]:
import tensorflow as tf
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=150, activation="tanh", input_dim=1147))
nn_model.add(tf.keras.layers.Dense(units=100, activation="tanh"))
nn_model.add(tf.keras.layers.Dense(units=50, activation="relu"))
# nn_model.add(tf.keras.layers.Dense(units=25, activation="relu"))
# nn_model.add(tf.keras.layers.Dense(units=10, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 150)               172200
_________________________________________________________________
dense_1 (Dense)              (None, 100)               15100
_________________________________________________________________
dense_2 (Dense)              (None, 50)                5050
_________________________________________________________________
dense_3 (Dense)              (None, 10)                510
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 192,871
Trainable params: 192,871
Non-trainable params: 0
_________________________________________________________________

In [34]:
nn_model.compile(optimizer="SGD", loss="binary_crossentropy", metrics=['accuracy'])

In [35]:
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
235/235 [==============================] - 1s 2ms/step - loss: 0.3172 - accuracy: 0.9533
Epoch 2/50
235/235 [==============================] - 0s 2ms/step - loss: 0.2068 - accuracy: 0.9533
Epoch 3/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1875 - accuracy: 0.9533
Epoch 4/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1793 - accuracy: 0.9533
Epoch 5/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1733 - accuracy: 0.9533
Epoch 6/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1674 - accuracy: 0.9533
Epoch 7/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1611 - accuracy: 0.9533
Epoch 8/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1546 - accuracy: 0.9533
Epoch 9/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1484 - accuracy: 0.9533
Epoch 10/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1428 - accuracy: 0.9533
Epoch 11/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1380 - accuracy: 0.9533
Epoch 12/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1339 - accuracy: 0.9533
Epoch 13/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1306 - accuracy: 0.9533
Epoch 14/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1277 - accuracy: 0.9533
Epoch 15/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1253 - accuracy: 0.9533
Epoch 16/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1231 - accuracy: 0.9533
Epoch 17/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1211 - accuracy: 0.9533
Epoch 18/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1194 - accuracy: 0.9533
Epoch 19/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1178 - accuracy: 0.9533
Epoch 20/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1163 - accuracy: 0.9533
Epoch 21/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1150 - accuracy: 0.9533
Epoch 22/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1137 - accuracy: 0.9533
Epoch 23/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1125 - accuracy: 0.9533
Epoch 24/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.9533
Epoch 25/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1102 - accuracy: 0.9533
Epoch 26/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1092 - accuracy: 0.9533
Epoch 27/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1082 - accuracy: 0.9533
Epoch 28/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1073 - accuracy: 0.9533
Epoch 29/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1063 - accuracy: 0.9533
Epoch 30/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1054 - accuracy: 0.9533
Epoch 31/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1045 - accuracy: 0.9533
Epoch 32/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1036 - accuracy: 0.9533
Epoch 33/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1028 - accuracy: 0.9533
Epoch 34/50
235/235 [==============================] - 0s 1ms/step - loss: 0.1020 - accuracy: 0.9533
Epoch 35/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1012 - accuracy: 0.9533
Epoch 36/50
235/235 [==============================] - 0s 2ms/step - loss: 0.1005 - accuracy: 0.9533
Epoch 37/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0997 - accuracy: 0.9533
Epoch 38/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0990 - accuracy: 0.9533
Epoch 39/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0983 - accuracy: 0.9533
Epoch 40/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0976 - accuracy: 0.9533
Epoch 41/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0970 - accuracy: 0.9533
Epoch 42/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0964 - accuracy: 0.9533
Epoch 43/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0958 - accuracy: 0.9533
Epoch 44/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0951 - accuracy: 0.9533
Epoch 45/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0945 - accuracy: 0.9533
Epoch 46/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0940 - accuracy: 0.9533
Epoch 47/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0934 - accuracy: 0.9533
Epoch 48/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0929 - accuracy: 0.9533
Epoch 49/50
235/235 [==============================] - 0s 2ms/step - loss: 0.0924 - accuracy: 0.9533
Epoch 50/50
235/235 [==============================] - 0s 1ms/step - loss: 0.0918 - accuracy: 0.9533

In [36]:
nn_model.evaluate(X_test_scaled,y_test,verbose=2)

27/27 - 0s - loss: 0.1078 - accuracy: 0.9500

[0.10782890021800995, 0.949999988079071]

In [37]:
predictions = nn_model.predict(X_test_scaled)

In [38]:
pred = pd.DataFrame(predictions, columns=['Column1'])
pred

      Column1
0    0.091007
1    0.437218
2    0.092626
3    0.212391
4    0.019158
..        ...
835  0.000925
836  0.002623
837  0.001193
838  0.001098
839  0.000996

[840 rows x 1 columns]

In [39]:
X_test

,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
24197,2,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24198,1,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24199,4,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24200,3,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24201,5,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25035,19,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25036,10,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25037,18,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25038,20,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25039,16,2021,0,0,0,0,1,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
circuitId_df = circuitId.to_frame().reset_index().drop(columns=['index'])
podium_df = podiumdf.to_frame().reset_index().drop(columns=['index'])

In [41]:
y_test_df = y_test.to_frame().reset_index().drop(columns=['index'])
y_test_df

     positionOrder
0                1
1                0
2                0
3                0
4                0
..             ...
835              0
836              0
837              0
838              0
839              0

[840 rows x 1 columns]

In [42]:
final = y_test_df.merge(pred,left_index=True,right_index=True)
final

     positionOrder   Column1
0                1  0.091007
1                0  0.437218
2                0  0.092626
3                0  0.212391
4                0  0.019158
..             ...       ...
835              0  0.000925
836              0  0.002623
837              0  0.001193
838              0  0.001098
839              0  0.000996

[840 rows x 2 columns]

In [43]:
X_test = X_test.reset_index().drop(columns=['index'])
X_test

,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,statusId_3,...,circuitId_65,circuitId_66,circuitId_67,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76
0,2,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,2019,0,0,0,0,0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,19,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
836,10,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
837,18,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
838,20,2021,0,0,0,0,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
839,16,2021,0,0,0,0,1,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
test = X_test.merge(final,left_index=True,right_index=True)
test = circuitId_df.merge(test,left_index=True,right_index=True)
test = test.merge(podium_df,left_index=True,right_index=True)
test

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1,podium
0,1,2,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.091007,1
1,1,1,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.437218,2
2,1,4,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.092626,3
3,1,3,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.212391,0
4,1,5,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.019158,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,4,19,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000925,0
836,4,10,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.002623,0
837,4,18,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.001193,0
838,4,20,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.001098,0
839,4,16,2021,0,0,0,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000996,0

In [45]:
final['diff']=final.eval('positionOrder-Column1')

In [46]:
final['Column1'].sum()

26.70174

In [47]:
final['positionOrder'].sum()

42

In [48]:
final

     positionOrder   Column1      diff
0                1  0.091007  0.908993
1                0  0.437218 -0.437218
2                0  0.092626 -0.092626
3                0  0.212391 -0.212391
4                0  0.019158 -0.019158
..             ...       ...       ...
835              0  0.000925 -0.000925
836              0  0.002623 -0.002623
837              0  0.001193 -0.001193
838              0  0.001098 -0.001098
839              0  0.000996 -0.000996

[840 rows x 3 columns]

In [49]:
test.sort_values(by=['circuitId', 'Column1'],ascending=False)

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_68,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1,podium
580,76,1,2020,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,0.408153,1
582,76,4,2020,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.066510,3
581,76,2,2020,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.047506,2
587,76,5,2020,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.011068,0
583,76,8,2020,1,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.005788,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,1,13,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.001022,0
16,1,20,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000922,0
9,1,15,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000913,0
15,1,19,2019,0,0,0,0,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000855,0
19,1,18,2019,0,0,0,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000855,0

In [50]:
final

     positionOrder   Column1      diff
0                1  0.091007  0.908993
1                0  0.437218 -0.437218
2                0  0.092626 -0.092626
3                0  0.212391 -0.212391
4                0  0.019158 -0.019158
..             ...       ...       ...
835              0  0.000925 -0.000925
836              0  0.002623 -0.002623
837              0  0.001193 -0.001193
838              0  0.001098 -0.001098
839              0  0.000996 -0.000996

[840 rows x 3 columns]

In [51]:
max_prob = test.groupby(['circuitId']).agg({'Column1':'max'})

In [52]:
test = pd.merge(test, max_prob, how='left', on=['circuitId'])
test

,circuitId,grid,year_x,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy,statusId_1,statusId_2,...,circuitId_69,circuitId_70,circuitId_71,circuitId_73,circuitId_75,circuitId_76,positionOrder,Column1_x,podium,Column1_y
0,1,2,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.091007,1,0.437218
1,1,1,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.437218,2,0.437218
2,1,4,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.092626,3,0.437218
3,1,3,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.212391,0,0.437218
4,1,5,2019,0,0,0,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.019158,0,0.437218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,4,19,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000925,0,0.409741
836,4,10,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.002623,0,0.409741
837,4,18,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.001193,0,0.409741
838,4,20,2021,0,0,0,0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.001098,0,0.409741
839,4,16,2021,0,0,0,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000996,0,0.409741

In [53]:
flag = []
for index, row in test.iterrows():
    if row['Column1_x'] == row['Column1_y']:
        if row['positionOrder']==1:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

16

In [54]:
test['flag'].sum()/21*100

76.19047619047619

In [55]:
flag = []
for index, row in test.iterrows():
    if row['Column1_x'] == row['Column1_y']:
        if row['podium'] in [1,2,3]:
            flag.append(1)
        else:
            flag.append(0)
    else:
        flag.append(0)
        
test['flag'] = flag
test['flag'].sum()

22